
  .ques{
    font:normal normal 600 18px/32px Segoe UI;
    text-align: left;
    color:#707070;
   
  }
  .ans{
    text-align: justify;
    color: #707070;
    padding-left:50px;
    font:normal normal  15px/28px Segoe UI;
    opacity:1;
    
  }