

.mainDiv{
    
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.container1{
    margin-top: 0px;
}
.header{

margin-left:10px;
margin-top:50px;
margin-bottom: 23px;

text-align:left;
font: normal normal bold 27px/38px Sitka Banner;

color: #086288;
opacity: 1;
}

.btn-icon-plus{
    border-radius: 60%;
    margin-right: 10px;
    background-color: #FAA81D;
    border: 1px solid white;
}
.fa-plus{
    color: white;
    
}
#btn-text-add{
    background-color: #FAA81D;
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;
}

#btn-text-add1{
    background-color: #FAA81D;
    border: none;   
    
}

.addbtn{
    display: none;
}

.delete{
    display:none;
}

.submitbtn{
    margin-top: 10px;
}